@page "/usuarios"

<h6>Listando Usuários</h6>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Usuario</th>
   </tr>
  </thead>
  <tbody>
    @for (int i=1;i<=6;i++)
    {
      
    <tr>
      <th scope="row">1</th>
      <td>Cleiton Cabeça de Prego</td>    
    </tr>

   }
   
  </tbody>
</table>
